:root {
  --sand: #D3C6BF;
  --dark-blue: #557D8A;
  --dark: #32332F;
  --light-blue: #8BB7D1;

}

html, body {
  margin: 0;
  padding: 0;
}

.navbar-menu.is-active {
  display: flex !important;
  justify-content: space-around;
}

.navbar-item {
  display: flex;
  align-self: center;
}

.home {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}